* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: lightgrey;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.header {
  color: white;
  margin-right: 50px;
}

.content {
  text-align: center;
}

.about {
  display: inline-block;
  width: 50%
}

.title {
  padding: 0 5px;
}

#repository_title {
  padding: 0 5px;
  width: 80%;
}

#table {
  width: 80%;
  background-color: white;
  border-style: solid;
}

.col {
  width: 33%;
  text-align: center;
  align-content: center;
}

#filechartmonth {
  padding-bottom: 80px;
}

#right-button, #left-button {
  margin-bottom: 10px;
}

#left-output-container, #right-output-container {
  text-align: center;
  background-color: white;
  border: solid;
}

#datatable, #extract_result {
  display: inline-block;
  width: 90%;
}
