body {
  font-family: sans-serif;
  margin: 0;
  background-color: lightgrey;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.header {
  color: white;
  margin-right: 50px;
}

.content {
  text-align: center;
}

.about {
  display: inline-block;
  width: 60%;
  padding: 20px;
}

#search_api, #core_api, #rate_limit {
  font-size: small;
}

#repos-choice {
  white-space: nowrap
}

#dropdowns, #table, #pareto_percents {
  vertical-align: top;
  text-align:center;
  margin-left: 50px;
  display: inline-block;
}

.col {
  width: 33%;
  text-align: center;
  align-content: center;
}

#left-output-container, #right-output-container {
  margin-top: 10px;
  text-align: center;
  background-color: white;
  border: solid;
}
