* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: lightgrey;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.header {
  color: white;
  margin-right: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 20px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  text-align: center;
  flex: 1 0 auto;
  min-height: 70%;
  width: 50%;
}

.title {
  padding: 0px 5px;
}

#repositorytitle {
  padding: 0px 5px;
  width: 33%;
}

.col {
  width: 33%;
  text-align: center;
  align-content: center;
}

#filechart {
  padding: 1px;
  margin-bottom: 60px;
}

#filechartmonth, #filechartmonth2, #filechartmonth3 {
  padding-bottom: 80px;
}

#right-button, #left-button {
  margin-bottom: 10px;
}

#left-output-container, #right-output-container {
  margin-bottom: 90px;
  background-color: white;
  border: solid;
}
